<table class='last'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Launch</th>
      <th>Datetime</th>
      <th>From</th>
      <th>To</th>
      <th>Flight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ last_launch.flight_number }}</td>
      <td>{% include spx/rocket.html id=last_launch.rocket %}</td>
      <td title="{% include spx/payloads.html payloads=last_launch.payloads %}">{{ last_launch.name }}</td>
      <td>{% include widgets/datetime.html datetime=last_launch.date_unix replace=true %}</td>
      <td><code title="{{ last_launch.date_local | date: "%a %d %b %T" }}">{{ last_launch.date_unix | date: "%a %d %b %T" }}</code></td>
      <td title="{{ launchpad.launch_successes }}-{{ launchpad.launch_attempts | minus: launchpad.launch_successes }} launches">{{ launchpad.name }}</td>
      <td>{%- for core in last_launch.cores -%}
        {%- assign landpad = site.data.landpads | where: "id", core.landpad | first -%}
        <span title="{{ landpad.landing_successes }}-{{ landpad.landing_attempts | minus: landpad.landing_successes }} landings">{{ landpad.name }}{%- unless forloop.last -%} {%- endunless -%}</span>
      {%- endfor -%}</td>
      <td>{%- for core in last_launch.cores -%}{{ core.flight }}{%- unless forloop.last -%}&nbsp;{%- endunless -%}{%- endfor -%}</td>
    </tr>
  </tbody>
</table>