<article>
  <h2><span data-launch="name"></span></h2>
  <p><span class="index"></span> #<span data-launch="flight_number"></span> precision[<span data-launch="date_precision"></span>] flight[<span data-launch="cores[0].flight"></span>] landing[<span data-launch="cores[0].landing_type"></span>]</p>
  <h2 class="countdown">-<span data-launch="countdown_days"></span> <span data-launch="countdown_hours"></span>:<span data-launch="countdown_minutes"></span> / <span class="local"></span></h2>
  <p data-launch="date_local"></p>
</article>
