<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/stylesheet.css?v=" | append: site.time | relative_url }}">
    <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/script.js?v=" | append: site.time | relative_url }}" defer></script>
  </head>
  <body data-title="{{ page.title | slugify }}">
    <main>
      {{ content }}
    </main>
    <template id="template">
      {% include article.html %}
    </template>
  </body>
</html>